#header{
    display: flex;
    justify-content: center;
}
#div1{
    display: flex;
    justify-content: center;
}
#per{
    display: flex;
    justify-content: center;
    font-size: 56px;
    color: black;
}
#button1, #button2, #button3{

    font-size: xx-large;
    background-color: aqua;
    border-radius: 5px;
    border: solid

}